{% load static %}
<!doctype html>
<html lang="en">
  <head>
  	<title>Login 07</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&dis play=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static 'player/home_style/css/style.css'%}">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Player Auction</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10" >
					<div class="wrap d-md-flex" id="Division" style="transition: 2s;">

						<div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last " id="division1">

							<div class="text w-100">
								<h2>Didn't have Account...</h2>
                                <p>Create new account</p>
								<div href="#" class="btn btn-white btn-outline-white" onclick="change()">Sign up</div>
							</div>
			      </div>


						<div class="login-wrap p-4 p-lg-5" id="division2">
			      	<div class="d-flex">
			      		<div class="w-100">
			      			<h3 class="mb-4">Login</h3>
			      		</div>
								<div class="w-100">
									<p class="social-media d-flex justify-content-end">
										<a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
										<a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
									</p>
								</div>
			      	</div>
                            <div class="alert-info" style="text-align: center">{{ message }}</div>
							<form  id="post-form"  method="POST" action="{% url 'login' %}" class="signin-form">
                                {% csrf_token %}
			      		<div class="form-group mb-3">
			      			<label class="label" for="room_id" >Username</label>
			      			<input type="text" class="form-control" placeholder="Room Id" name="username" required>
			      		</div>

			      		<div class="form-group mb-3">
			      			<label class="label" for="name" >Password</label>
			      			<input type="password" class="form-control" placeholder="Password" name="password" required>
			      		</div>

		            <div class="form-group">
		            	<button type="submit" class="form-control btn btn-primary submit px-3" >Login</button>
		            </div>
		          </form>
		        </div>
				</div>
                </div>
                </div>
			</div>
		</div>
	</section>

	<script src="{% static 'player/home_style/js/jquery.min.js'%}"></script>
  <script src="{% static 'player/home_style/js/popper.js' %}"></script>
  <script src="{% static 'player/home_style/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'player/home_style/js/main.js'%}"></script>
	</body>
  <script>
      let flag=0;
      function change(){
          if(flag==0){
              let upper_division=document.getElementById("Division");
              upper_division.style.flexDirection="row-reverse";
              let div1=document.getElementById("division1");
              let div2=document.getElementById("division2");
              div1.innerHTML=`<div class="text w-100">
								<h2>Already have a Account</h2>
								<p>Enter username and password</p>
								<div href="#" class="btn btn-white btn-outline-white" onclick="change()">Login</div>
							</div>`;
              div2.innerHTML=`<div class="d-flex">
			      		<div class="w-100">
			      			<h3 class="mb-4">Sign up</h3>
			      		</div>
								<div class="w-100">
									<p class="social-media d-flex justify-content-end">
										<a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
										<a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
									</p>
								</div>
			      	</div>
							<form  id="post-form"  method="POST" action="{% url 'create_account' %}" class="signin-form">
                                {% csrf_token %}
			      		<div class="form-group mb-3">
			      			<label class="label" for="name" >Username</label>
			      			<input type="text" class="form-control" placeholder="Username" name="username" required>
			      		</div>
			      		<div class="form-group mb-3" >
			      			<label class="label" for="name">Password</label>
			      			<input type="password" class="form-control" placeholder="Password"  name="password" required>
			      		</div>

		            <div class="form-group">
		            	<button type="submit" class="form-control btn btn-primary submit px-3" >Sign up</button>
		            </div>
		          </form>
		        </div>

				</div>
                </div>`;

              flag=1;
          }else{
              let upper_division=document.getElementById("Division");
              upper_division.style.flexDirection="row";
              let div1=document.getElementById("division1");
              let div2=document.getElementById("division2");
              div1.innerHTML=`<div class="text w-100">
								<h2>Didn't have account</h2>
                                <p>Create New Account</p>
								<div href="#" class="btn btn-white btn-outline-white" onclick="change()">Sign up</div>
							</div>`;
              div2.innerHTML=`<div class="d-flex">
			      		<div class="w-100">
			      			<h3 class="mb-4">Login</h3>
			      		</div>
								<div class="w-100">
									<p class="social-media d-flex justify-content-end">
										<a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
										<a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
									</p>
								</div>
			      	</div>
							<form  id="post-form"  method="POST" action="{% url 'login' %}" class="signin-form">
                                {% csrf_token %}
			      		<div class="form-group mb-3">
			      			<label class="label" for="room_id" >Username</label>
			      			<input type="text" class="form-control" placeholder="Room Id" name="username" required>
			      		</div>

			      		<div class="form-group mb-3">
			      			<label class="label" for="name" >Password</label>
			      			<input type="password" class="form-control" placeholder="Password" name="password" required>
			      		</div>

		            <div class="form-group">
		            	<button type="submit" class="form-control btn btn-primary submit px-3" >Login</button>
		            </div>
		          </form>
		        </div>
				</div>`;
              flag=0;
          }

      }
  </script>
</html>

